<!-- <div>
  <kendo-textbox-container floatingLabel="Your Full Name">    
    <input class="text-box" kendoTextBox>
    <kendo-datepicker 
      [formatPlaceholder]="{year: 'Y', month:'M', day:'D'}" 
      [navigation]="false" 
      [readonly]="false"      
      [min]="min" 
      [max]="max" 
      (click)="dateChange()" 
      [format]="'dd-MM-yyyy'">
    </kendo-datepicker>
  </kendo-textbox-container>
  <mat-form-field>
      <mat-label>Cars</mat-label>
      <mat-select disableOptionCentering panelClass ="mat-select-push-below" matNativeControl required>
        <mat-option value="toyota">Toyota</mat-option>
        <mat-option value="toyotaA">Toyota A</mat-option>
        <mat-option value="toyotaB">Toyota B</mat-option>
      </mat-select>
    </mat-form-field>
</div>
<div fxLayout="column" fxFlexFill>
  <kendo-grid class="table-container"
  fxFlexFill
    [style.height.%]="100"
    [data]="sampleProducts" 
    [resizable]="true" 
    [pageSize]="5"
    [reorderable]="true" fxFlex="100%">    
      <kendo-grid-column 
        [headerStyle]="{'background-color':'rgb(59, 148, 226)', 'color': '#fff'}"
        title="ID" 
        field="ProductID" 
        width="40">
      </kendo-grid-column>
      <kendo-grid-column 
        [headerStyle]="{'background-color':'rgb(59, 148, 226)', 'color': '#fff'}"
        title="Product Name" 
        field="ProductName" 
        width="120">
      </kendo-grid-column> 
      <kendo-grid-column 
        [headerStyle]="{'background-color':'rgb(59, 148, 227)', 'color': '#fff'}"
        title="Supplier ID" 
        field="SupplierID" 
        width="100">
      </kendo-grid-column>
      <kendo-grid-column 
        [headerStyle]="{'background-color':'rgb(59, 148, 226)', 'color': '#fff'}"
        title="Category" 
        field="Category.CategoryName" 
        width="100">
      </kendo-grid-column>
      <kendo-grid-column 
        [headerStyle]="{'background-color':'rgb(59, 148, 226)', 'color': '#fff'}"
        title="Description" 
        field="Category.Description" 
        width="150">
      </kendo-grid-column>
  </kendo-grid>
</div> -->
<div fxLayout.lt-sm="column" fx fxLayoutGap="10px" style="padding:5px;box-sizing: border-box" fxLayout>
  <mat-card class="mat-card">
    <div class="mat-class-header-text card-header" fxLayoutAlign="space-between center">
      <mat-icon>person</mat-icon>
      <div gdAreas="title content" fxFlex>
        <span gdArea="title" class="one-text">Moreeee Picture</span>
        <span gdArea="content" class="two-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quod
          ullam incidunt dolor. Rem adipisci dolores a nostrum nobis, quod nam, ipsam blanditiis, recusandae voluptatum
          ad! Aut reiciendis aliquam quia.</span>
      </div>
      <mat-checkbox>Choose me</mat-checkbox>
    </div>
    <mat-card-content class="mat-card-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, voluptas necessitatibus magni facilis nulla libero
      saepe. Cupiditate sit, dolores accusamus odio dolor asperiores non ab praesentium. Fugiat perferendis minima
      aliquid.
    </mat-card-content>
    <mat-card-footer fxLayoutAlign="space-between center" fxLayout>
      <span>Date: 15/12/2019</span>
      <span>Username:Anant.Sapkota123</span>
    </mat-card-footer>
  </mat-card>
  <mat-card class="mat-card">
    <div class="mat-class-header-text card-header" fxLayoutAlign="space-between center">
      <mat-icon>person</mat-icon>
      <div gdAreas="title content" fxFlex>
        <span gdArea="title" class="one-text">File</span>
        <span gdArea="content" class="two-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quod
          ullam incidunt dolor. Rem adipisci dolores a nostrum nobis, quod nam, ipsam blanditiis, recusandae voluptatum
          ad! Aut reiciendis aliquam quia.</span>
      </div>
      <mat-checkbox>Choose me</mat-checkbox>
    </div>
    <mat-card-content class="mat-card-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, voluptas necessitatibus magni facilis nulla libero
      saepe. Cupiditate sit, dolores accusamus odio dolor asperiores non ab praesentium. Fugiat perferendis minima
      aliquid.
    </mat-card-content>
    <mat-card-footer fxLayoutAlign="space-between center" fxLayout>
      <span>Date: 15/12/2019</span>
      <span>Username:Anant.Sapkota123</span>
    </mat-card-footer>
  </mat-card>
  <mat-card class="mat-card">
    <div class="mat-class-header-text card-header" fxLayoutAlign="space-between center">
      <mat-icon>person</mat-icon>
      <div gdAreas="title content" fxFlex>
        <span gdArea="title" class="one-text">Form IO Document</span>
        <span gdArea="content" class="two-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quod
          ullam incidunt dolor. Rem adipisci dolores a nostrum nobis, quod nam, ipsam blanditiis, recusandae voluptatum
          ad! Aut reiciendis aliquam quia.</span>
      </div>
      <mat-checkbox>Choose me</mat-checkbox>
    </div>
    <mat-card-content class="mat-card-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, voluptas necessitatibus magni facilis nulla libero
      saepe. Cupiditate sit, dolores accusamus odio dolor asperiores non ab praesentium. Fugiat perferendis minima
      aliquid.
    </mat-card-content>
    <mat-card-footer fxLayoutAlign="space-between center" fxLayout>
      <span>Date: 15/12/2019</span>
      <span>Username:Anant.Sapkota123</span>
    </mat-card-footer>
  </mat-card>
</div>
<router-outlet></router-outlet>