<!-- <router-outlet></router-outlet>
<div fxLayout="row" fxlayoutAlign="start center" fxLayoutGap="10px">
  <div fxFlex="33">
    <div class="box">
      <div class="box-title" fxLayout="row" fxlayoutAlign="start center">
        <mat-icon fxFlex="24px">person</mat-icon>
        <div fxFlex>
          <span>
            file
          </span>
          <span>
            image:form io document
          </span>
        </div>
        <mat-checkbox fxFlex="24px"></mat-checkbox>
      </div>
      <div class="box-content">
        this is content
      </div>
      <div class="box-footer">
        this is footer
      </div>
    </div>
  </div>
  <div fxFlex="33">

  </div>
  <div fxFlex="33">

  </div>
</div> -->

<!-- <div class="sidebar {{fullWidthCondition ? 'full-width' : 'collapsed-width'}}">
  <mat-icon class="nav-icon" (click)="expand()">menu</mat-icon>
  <ul>
    <li fxLayout fxLayoutAlign="start center">
      <mat-icon color="primary">home</mat-icon>
      <span class="menu-item">Home</span>
    </li>
    <li fxLayout fxLayoutAlign="start center">
      <mat-icon color="primary">person</mat-icon>
      <span class="menu-item">About Us</span>
    </li>
    <li fxLayout fxLayoutAlign="start center">
      <mat-icon color="primary">collections</mat-icon>
      <span class="menu-item">Gallery</span>
    </li>
  </ul>
</div>
<div class="sidebar-new">
  <mat-icon class="nav-icon">menu</mat-icon>
  <ul>
    <li fxLayout fxLayoutAlign="start center">
      <mat-icon color="primary">home</mat-icon>
      <span class="menu-item">Home</span>
    </li>
    <li fxLayout fxLayoutAlign="start center">
      <mat-icon color="primary">person</mat-icon>
      <span class="menu-item">About Us</span>
    </li>
    <li fxLayout fxLayoutAlign="start center">
      <mat-icon color="primary">collections</mat-icon>
      <span class="menu-item">Gallery</span>
    </li>
  </ul>
</div> -->
<div>
  <mat-form-field class="input-chip-list">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
        (removed)="remove(fruit)">
        {{fruit}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>

      <input placeholder="New fruit..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
        {{fruit}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-raised-button [matMenuTriggerFor]="rootMenu">Here</button>
  <mat-menu #rootMenu="matMenu">
    <ul>
      <li class="drop-item">
        <div matRipple class="drop-item-content" fxLayout="column" fxLayoutAlign="center center">
          <mat-icon color="accent" class="med-icon-size">person</mat-icon>
          <span>Person</span>
        </div>
      </li>
      <li class="drop-item">
        <div matRipple class="drop-item-content" fxLayout="column" fxLayoutAlign="center center">
          <mat-icon color="primary" class="med-icon-size">alarm</mat-icon>
          <span>Time</span>
        </div>
      </li>
      <li class="drop-item">
        <div matRipple class="drop-item-content" fxLayout="column" fxLayoutAlign="center center">
          <mat-icon color="warn" class="med-icon-size">credit_card</mat-icon>
          <span>Shop</span>
        </div>
      </li>
      <li class="drop-item">
        <div matRipple class="drop-item-content" fxLayout="column" fxLayoutAlign="center center">
          <mat-icon color="primary" class="med-icon-size">assignment</mat-icon>
          <span>Work</span>
        </div>
      </li>
      <li class="drop-item">
        <div matRipple class="drop-item-content" fxLayout="column" fxLayoutAlign="center center">
          <mat-icon color="accent" class="med-icon-size">calendar_today</mat-icon>
          <span>Schedule</span>
        </div>
      </li>
      <li class="drop-item">
        <div matRipple class="drop-item-content" fxLayout="column" fxLayoutAlign="center center">
          <mat-icon color="warn" class="med-icon-size">grade</mat-icon>
          <span>Favorites</span>
        </div>
      </li>
      <div class="clear-fix"></div>
    </ul>
  </mat-menu>
</div>